<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h2>Login</h2>


<div th:if="${param.blocked != null and param.blocked[0] == 'true'}">
    <p style="color: red;"> Your account is blocked. Please check your email to unblock it.</p>
</div>
<div th:if="${param.error}">
    <p style="color: red;"> Invalid credentials. Please try again.</p>
</div>
<div th:if="${param.unblocked}">
    <p>
        ✅ Your account was unblocked. Please log in again.
    </p>
</div>
<p th:if="${param.emailChanged}" style="color: green;">
    ✅ Email updated. Please log in again.
</p>


<form th:action="@{/auth/login}" method="POST">
    <input type="text" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Login</button>
</form>

<hr>

<!-- Google Login -->
<a href="/oauth2/authorization/google">
    <button>Login with Google</button>
</a>

<hr>

<!-- Register -->
<a th:href="@{/register}">
    <button>Register Account</button>
</a>


</body>
</html>
